:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --extra-text-color: #000000;
  --extra-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --extra-bg-color: #2f303a;
  --card-border: #eeeeee;
  --clients-border: #afb1b8;
  --modal-submit: #188ce8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
}

.list-decor {
  list-style: none;
}

.link-decor {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Общая шапка ==================================================================================*/

.header {
  background: var(--bg-primary-color);
  border: 1px solid #ececec;
}

.logotype {
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--extra-color);
}

.logo-studio {
  color: var(--extra-text-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--extra-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.current-page {
  color: var(--extra-color);
}

.current-page::after {
  display: inline-block;
  position: absolute;
  content: '';

  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;

  border-radius: 2px;
  background-color: var(--extra-color);
}

.nav-list {
  display: flex;
  margin-left: 40px;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  fill: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--extra-color);
  fill: var(--extra-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.item .contacts-link {
  display: flex;
  align-items: center;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope,
.smartphone {
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.main-nav-div {
  display: flex;
  align-items: center;
}

/* Main для index.html ===========================================================================*/

/* Герой */
.hero {
  max-width: 1600px;

  background: var(--extra-bg-color);
  text-align: center;

  padding: 200px 0;
  margin: 0 auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-primary-color);
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-primary-color);

  padding: 10px 32px 10px 32px;
  background: var(--extra-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

/* Качества */

.qualities {
  padding-top: 94px;
}

.quality-hdr {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.quality-dscrpt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-top: 10px;
}

.flex-qualities {
  display: flex;
}

.flex-qualities .item:not(:last-child) {
  margin-right: 30px;
}

.flex-qualities .item {
  flex-basis: 270px;
}

.antenna,
.clock,
.diagram,
.astronaut {
  width: 70px;
  height: 70px;
}

.item-antenna,
.item-clock,
.item-diagram,
.item-astronaut {
  background: var(--bg-secondary-color);

  border-radius: 4px;

  padding: 25px 100px;
  margin-bottom: 30px;
}

/* Задачи */

.task-hdr {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}

.task-list {
  display: flex;
}

.task-list .item:not(:last-child) {
  margin-right: 30px;
}

.task-banner {
  position: relative;
}

.banner-div {
  position: absolute;

  width: 100%;
  height: 70px;
  bottom: 0;

  padding: 27px 0;

  background: rgba(47, 48, 58, 0.8);
}

.banner-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-primary-color);
}

/* Команда */
.team {
  background: var(--bg-secondary-color);
}

.team-main-hdr {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}

.team-person-hdr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-person-dscrpt {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-top: 10px;
}

.item-wrapper {
  padding: 30px 32px;
  background: var(--bg-primary-color);
}

.team-list {
  display: flex;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.social-list {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: var(--bg-primary-color);
  fill: var(--clients-border);

  cursor: pointer;
}

.social-link:hover {
  background: var(--extra-color);
  fill: var(--bg-primary-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Клиенты */
.clients-hdr {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}

.clients-list {
  display: flex;

  justify-content: center;
}

.clients-list .link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 32px;

  fill: var(--clients-border);
}

.logo,
.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5 {
  width: 106px;
  height: 60px;
}

.clients-list .item {
  width: 170px;
  height: 92px;

  border: 1px solid var(--clients-border);
  border-radius: 4px;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .item:hover,
.clients-list .item:focus {
  border-color: var(--extra-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients-list .link:hover,
.clients-list .link:focus {
  fill: var(--extra-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Main для portfolio.html =======================================================================*/

/* Фильтр */
.filter-projects {
  padding: 94px 0;
}

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 34px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px 6px 22px;

  background: var(--bg-secondary-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--extra-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--bg-primary-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.current-filter {
  background: var(--extra-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--bg-primary-color);
}

/* Проекты */
.projects {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.projects .item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

.card {
  display: block;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
}

.card-thumb {
  position: relative;

  overflow: hidden;
}

.card-info {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;

  opacity: 0;
}

.card:hover .card-thumb > .card-info {
  opacity: 1;
  top: 0;
}

.card-info-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--bg-primary-color);
}

.project-hdr {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.project-dscrpt {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Общий футер ===================================================================================*/

.footer {
  background: var(--extra-bg-color);
  padding: 60px 0;
}

.logotype-ftr {
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 20px;
}

.logo-web-ftr {
  color: var(--extra-color);
}
.logo-studio-ftr {
  color: var(--bg-primary-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-primary-color);

  display: block;
  margin-bottom: 9px;
}

.social-hdr-ftr {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-primary-color);
}

.social-list-ftr {
  display: flex;

  margin-top: 20px;
}

.social-list-ftr .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-ftr {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: rgba(255, 255, 255, 0.1);
  fill: var(--bg-primary-color);

  cursor: pointer;
}

.social-link-ftr:hover {
  background: var(--extra-color);
  fill: var(--bg-primary-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mail-ftr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.phone-ftr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-ftr .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.address-div {
  margin-right: 70px;
}

.mailing-hdr-ftr {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-primary-color);
}

.subscribe-form {
  /* outline: 1px solid red; */
  width: 570px;
  height: 86px;
}

.subscribe-input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  background: var(--extra-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.subscribe-btn {
  width: 200px;
  height: 50px;

  border-style: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.subscribe-btn-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--bg-primary-color);

  margin-right: 10px;
}

.subscribe-div {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

/* =============== Модальное окно =============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--bg-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--bg-primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-btn:hover {
  fill: var(--extra-color);
}

.modal-form-hdr {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  margin-bottom: 30px;
}

.modal-form-field {
  position: relative;

  width: 100%;

  margin-bottom: 28px;
}

.entry-field {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  outline: none;
}

.entry-field:focus {
  border: 1px solid var(--extra-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form-field:focus-within > .modal-svg {
  fill: var(--extra-color);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.entry-field.area {
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  resize: none;
}

.modal-label.area {
  bottom: 128px;
}

.modal-label {
  position: absolute;

  left: 0;
  bottom: 44px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-form-field.area {
  margin-bottom: 20px;
}

.modal-svg {
  position: absolute;

  left: 15px;
  top: 14px;
}

.conditions {
  margin-bottom: 30px;
}

.conditions-label {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.conditions-link {
  color: var(--extra-color);
  cursor: pointer;
}

.conditions-container {
  position: relative;
}

.conditions-link::after {
  content: ' ';
  position: absolute;

  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;

  background-color: var(--extra-color);
}

.checkbox-accept {
  display: none;
}

.conditions-input:checked + .conditions-svg-border .checkbox-accept {
  display: block;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.conditions-input:checked + .conditions-svg-border .checkbox-border {
  display: none;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.conditions-svg-border {
  cursor: pointer;
}

.conditions-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-submit {
  display: flex;
  justify-content: center;
}

.modal-submit-btn {
  width: 200px;
  height: 50px;

  background-color: var(--extra-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-primary-color);

  cursor: pointer;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-submit-btn:hover {
  background-color: var(--modal-submit);
}
